:host{
    height: 120px;
    width: 100%;
    background-color: rgb(55, 4, 136);
    display: block;
}
#logo-img{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 25px;

}#header-content{
    display: inline-flex;
    width: 100%;
    color: white;
}